<!DOCTYPE html>
<html lang="en" class="link-html">

<head>
    <title>Nguyen Dong Khanh</title>
    <base href="https://atplink.com/">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <!-- Open Graph / Facebook / Twitter -->
    <meta property="og:type" content="website" />
    <meta property="twitter:type" content="website" />
    <meta property="og:url" content="https://atplink.com/dong-khanh" />
    <meta property="twitter:url" content="https://atplink.com/dong-khanh" />




    <link href="https://atplink.com/themes/altum/assets/css/bootstrap.min.css?v=801" rel="stylesheet" media="screen">
    <link href="https://atplink.com/themes/altum/assets/css/custom.css?v=801" rel="stylesheet" media="screen">
    <link href="https://atplink.com/themes/altum/assets/css/link-custom.css?v=801" rel="stylesheet" media="screen">
    <link href="https://atplink.com/themes/altum/assets/css/animate.min.css?v=801" rel="stylesheet" media="screen">

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Lato', sans-serif !important;
        }
    </style>



    <link rel="canonical" href="https://atplink.com/dong-khanh" />
</head>


<body class="link-body "
    style="background: url('https://atplink.com/uploads/backgrounds/e0283db1e195de10bf817f66a8a81a04.png');">
    <div class="container animate__animated animate__fadeIn">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-8 link-content ">


                <header class="d-flex flex-column align-items-center" style="color: #fff">
                    <img id="image" src="https://atplink.com/uploads/avatars/4907223608d1811699a2f329ae388d5f.png"
                        alt="Avatar" class="link-image" />

                    <div class="d-flex flex-row align-items-center mt-4">
                        <h1 style="font-size: 2.0rem;" id="title">Nguyen Dong Khanh</h1>

                        <span data-toggle="tooltip" title="Verified" class="link-verified ml-1"><i
                                class="fa fa-fw fa-check-circle fa-1x"></i></span>
                    </div>

                    <p id="description">@spottysausage</p>
                </header>

                <main id="links" class="mt-4">
                    <div class="row">


                        <div data-biolink-block-id="53949" class="col-12 my-2">
                            <a target="_blank" data-nodeeplink="" href="https://atplink.com"
                                data-biolink-block-id="53949"
                                class="btn btn-block btn-primary link-btn link-btn-round animate__animated animate__repeat-1 animate__pulse animate__delay-2s"
                                style="color: #FFFFFF; background: transparent; border: .1rem solid #fff">
                                <div class="link-btn-image-wrapper link-btn-round">
                                    <img src="https://atplink.com/uploads/block_thumbnail_images/a958096bac81d54e4749493491249517.png"
                                        class="link-btn-image" loading="lazy" />
                                </div>


                                Facebook
                            </a>
                        </div>





                        <div data-biolink-block-id="53953" class="col-12 my-2">
                            <a target="_blank" data-nodeeplink="" href="https://atplink.com"
                                data-biolink-block-id="53953"
                                class="btn btn-block btn-primary link-btn link-btn-round animate__animated animate__repeat-1 animate__pulse animate__delay-2s"
                                style="color: #FFFFFF; background: transparent; border: .1rem solid #fff">
                                <div class="link-btn-image-wrapper link-btn-round">
                                    <img src="https://atplink.com/uploads/block_thumbnail_images/3a6c7daeb36e0e05038c88efe18a4f16.png"
                                        class="link-btn-image" loading="lazy" />
                                </div>


                                Youtube
                            </a>
                        </div>





                        <div data-biolink-block-id="53950" class="col-12 my-2">
                            <a target="_blank" data-nodeeplink="" href="https://atplink.com"
                                data-biolink-block-id="53950"
                                class="btn btn-block btn-primary link-btn link-btn-round animate__animated animate__repeat-1 animate__pulse animate__delay-2s"
                                style="color: #FFFFFF; background: transparent; border: .1rem solid #fff">
                                <div class="link-btn-image-wrapper link-btn-round">
                                    <img src="https://atplink.com/uploads/block_thumbnail_images/91aafc9d15f45b1f5ff2e299c02828c0.png"
                                        class="link-btn-image" loading="lazy" />
                                </div>


                                Instagram
                            </a>
                        </div>





                        <div data-biolink-block-id="53948" class="col-12 mt-1 mb-1">
                            <div class="d-flex justify-content-center align-items-center">
                                <hr class="w-100" style="border-color: white;" />

                                <span class="mx-4">
                                    <i class="fa fa-infinity fa-fw" style="color: white;"></i>
                                </span>

                                <hr class="w-100" style="border-color: white;" />
                            </div>
                        </div>



                        <div data-biolink-block-id="53952" class="col-12 my-2">
                            <h2 class="h4 text-break" style="color: white">Các sản phẩm mình đã review ♥️</h2>
                            <p class="text-break" style="color: white"></p>
                        </div>




                        <div data-biolink-block-id="53951" class="col-12 my-2">
                            <a target="_blank" data-nodeeplink="" href="https://atplink.com"
                                data-biolink-block-id="53951"
                                class="btn btn-block btn-primary link-btn link-btn-round animate__animated animate__repeat-1 animate__pulse animate__delay-2s"
                                style="background: #FFFFFF;color: #19255D">
                                <div class="link-btn-image-wrapper link-btn-round">
                                    <img src="https://atplink.com/uploads/block_thumbnail_images/ac804ba5ec0713e15fe88f7d44ea9198.png"
                                        class="link-btn-image" loading="lazy" />
                                </div>


                                LG PL5 320k
                            </a>
                        </div>





                        <div data-biolink-block-id="53955" class="col-12 my-2">
                            <a target="_blank" data-nodeeplink="" href="https://atplink.com"
                                data-biolink-block-id="53955"
                                class="btn btn-block btn-primary link-btn link-btn-round animate__animated animate__repeat-1 animate__pulse animate__delay-2s"
                                style="background: #FFFFFF;color: #19255D">
                                <div class="link-btn-image-wrapper link-btn-round">
                                    <img src="https://atplink.com/uploads/block_thumbnail_images/6abdcb70e1644b9ae595bcc430189fc7.png"
                                        class="link-btn-image" loading="lazy" />
                                </div>


                                Loa XBOOM
                            </a>
                        </div>





                        <div data-biolink-block-id="53954" class="col-12 my-2">
                            <a target="_blank" data-nodeeplink="" href="https://atplink.com"
                                data-biolink-block-id="53954"
                                class="btn btn-block btn-primary link-btn link-btn-round animate__animated animate__repeat-1 animate__pulse animate__delay-2s"
                                style="background: #FFFFFF;color: #19255D">
                                <div class="link-btn-image-wrapper link-btn-round">
                                    <img src="https://atplink.com/uploads/block_thumbnail_images/08ec0bbbd669f0cf966b9f169b287050.png"
                                        class="link-btn-image" loading="lazy" />
                                </div>


                                Loa JBL đã 120k
                            </a>
                        </div>



                    </div>

                    <div id="socials" class="d-flex flex-wrap justify-content-center mt-5">


                        <div class="mx-3 mb-3">
                            <span>
                                <a href="tel: 0812345678" target="_blank">
                                    <i data-toggle="tooltip" title="Telephone" class="fa fa-phone-square fa-fw fa-2x"
                                        style="color: #fff; fill: #fff">
                                    </i>
                                </a>
                            </span>
                        </div>


                        <div class="mx-3 mb-3">
                            <span>
                                <a href="https://facebook.com/atplink" target="_blank">
                                    <i data-toggle="tooltip" title="Facebook" class="fab fa-facebook fa-fw fa-2x"
                                        style="color: #fff; fill: #fff">
                                    </i>
                                </a>
                            </span>
                        </div>


                        <div class="mx-3 mb-3">
                            <span>
                                <a href="https://m.me/atplink" target="_blank">
                                    <i data-toggle="tooltip" title="Facebook Messenger"
                                        class="fab fa-facebook-messenger fa-fw fa-2x" style="color: #fff; fill: #fff">
                                    </i>
                                </a>
                            </span>
                        </div>


                        <div class="mx-3 mb-3">
                            <span>
                                <a href="https://instagram.com/atplink" target="_blank">
                                    <i data-toggle="tooltip" title="Instagram" class="fab fa-instagram fa-fw fa-2x"
                                        style="color: #fff; fill: #fff">
                                    </i>
                                </a>
                            </span>
                        </div>


                    </div>

                </main>


                <footer class="link-footer">
                    <a id="branding" href="https://atplink.com/" style="color: #fff"><a href="https://atplink.com"><img
                                style="width: 60%; ; " src="https://svgshare.com/i/Ykw.svg" alt=""
                                height="60" /></a></a>
                </footer>

            </div>
        </div>
    </div>

</body>




<input type="hidden" id="url" name="url" value="https://atplink.com/" />
<input type="hidden" name="global_token" value="bbe1efd9189b06fa786ac6dfebe6c840" />
<input type="hidden" name="number_decimal_point" value="." />
<input type="hidden" name="number_thousands_separator" value="," />

<script>
    /* Some global variables */
    window.altum = {};
    let global_token = document.querySelector('input[name="global_token"]').value;
    let url = document.querySelector('input[name="url"]').value;
    let decimal_point = document.querySelector('[name="number_decimal_point"]').value;
    let thousands_separator = document.querySelector('[name="number_thousands_separator"]').value;
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-89205409-55"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-89205409-55');
</script>
<script src="https://atplink.com/themes/altum/assets/js/fb-deep-link.js"></script>
<script src="https://atplink.com/themes/altum/assets/js/libraries/jquery.min.js?v=801"></script>
<script src="https://atplink.com/themes/altum/assets/js/libraries/popper.min.js?v=801"></script>
<script src="https://atplink.com/themes/altum/assets/js/libraries/bootstrap.min.js?v=801"></script>
<script src="https://atplink.com/themes/altum/assets/js/main.js?v=801"></script>
<script src="https://atplink.com/themes/altum/assets/js/functions.js?v=801"></script>
<script src="https://atplink.com/themes/altum/assets/js/libraries/fontawesome.min.js?v=801"></script>

<script>
    let base_url = "https:\/\/atplink.com\/";

    /* Internal tracking for biolink links */
    $('a[data-biolink-block-id]').on('click', event => {
        let biolink_block_id = $(event.currentTarget).data('biolink-block-id');

        $.ajax(`${base_url}l/link?biolink_block_id=${biolink_block_id}&no_redirect`);
    });

    /* Go over all mail buttons to make sure the user can still submit mail */
    $('form[id^="mail_"]').each((index, element) => {
        let biolink_block_id = $(element).find('input[name="biolink_block_id"]').val();
        let is_converted = localStorage.getItem(`mail_${biolink_block_id}`);

        if (is_converted) {
            /* Set the submit button to disabled */
            $(element).find('button[type="submit"]').attr('disabled', 'disabled');
        }
    });
    /* Form handling for mail submissions if any */
    $('form[id^="mail_"]').on('submit', event => {
        let biolink_block_id = $(event.currentTarget).find('input[name="biolink_block_id"]').val();
        let is_converted = localStorage.getItem(`mail_${biolink_block_id}`);

        if (!is_converted) {

            $.ajax({
                type: 'POST',
                url: `${base_url}l/link/mail`,
                data: $(event.currentTarget).serialize(),
                success: (data) => {
                    let notification_container = $(event.currentTarget).find('.notification-container');

                    if (data.status == 'error') {
                        notification_container.html('');

                        display_notifications(data.message, 'error', notification_container);
                    } else if (data.status == 'success') {

                        display_notifications(data.message, 'success', notification_container);

                        setTimeout(() => {

                            /* Hide modal */
                            $(event.currentTarget).closest('.modal').modal('hide');

                            /* Remove the notification */
                            notification_container.html('');

                            /* Set the localstorage to mention that the user was converted */
                            localStorage.setItem(`mail_${biolink_block_id}`, true);

                            /* Set the submit button to disabled */
                            $(event.currentTarget).find('button[type="submit"]').attr('disabled', 'disabled');

                            if (data.details.thank_you_url) {
                                window.location.replace(data.details.thank_you_url);
                            }

                        }, 1000);

                    }
                },
                dataType: 'json'
            });

        }

        event.preventDefault();
    })
</script>


</html>